.map {
    position: absolute;
    top: 14vh;
    height: 86vh;
    width: 80vw;
}

#map-missing {
    left: 0;
}

.full-width {
    width: 100%;
}

.btn {
    margin-bottom: 4px;
}

#people {
    position: absolute;
    padding: 20px;
    top: 14vh;
    box-sizing: border-box;
    height: 86vh;
    width: 20vw;
    right: 0
}
