    <app-admin-header></app-admin-header>

    <div class="amain">
        <h2> Missing Persons </h2>

        <mat-form-field class="full-width-form">
            <input [(ngModel)]="p.name" matInput placeholder="Name" required>
        </mat-form-field>

        <div>
            Last Seen -
            <b>Lat:</b> {{ p.lkl_lat }} <b>Lng:</b> {{ p.lkl_lng }}
        </div>

        <div id="map" class="map"></div>

        <div>
            Photograph:<br/>
            <input type="file" id="file" />
        </div>

        <button mat-raised-button color="accent"
                class="full-width-form"
                (click)="go()">
            Upload
        </button>

    </div>
