/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.amain {
    margin: 20px;
}

.biglink {
    font-size: 1.2em;
}

a, a:visited {
    text-decoration: none;
    color: darkblue;
}

a:hover {
    color: blue;
}
